.inspection-list-item:hover{
    background-color: #eee;
}

.car-info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .car-info{
        width: 12%;
        margin: 0px;
    }
}