<div class="action-bar-wrapper">
    <div class="action-bar">

        <div class="action-bar-item"></div>
        <div class="action-bar-item" id="general-actions">
             <button class="action-bar-btn" routerLink="/strassenfahrzeug-menu">
                <img src="assets/images/icons/add.svg" alt="">
            </button>
            <button class="action-bar-btn" routerLink="/alle-untersuchungen">
                <img src="assets/images/icons/inspections.svg" alt="">
            </button>
            <button class="action-bar-btn">
                <img src="assets/images/icons/team.svg" alt="">
            </button>
        </div>

        <div class="action-bar-item">
            <button class="action-bar-btn">
                <img src="assets/images/icons/settings.svg" alt="">
            </button>
        </div>

    </div>
</div>